html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* global styles */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 29px;
    letter-spacing: 0.2px;
    color: #210E21;
}

h1, 
h2, 
h3, 
h4,
nav,
ul, 
li,
a, 
p,
button {
    text-decoration: none;

    margin: 0;
    padding: 0;
}


h1, 
h2, 
h3, 
h4 {
    font-family: 'East Sea Dokdo', cursive;
    font-weight: lighter;
}

h1 {
    font-size: 12.2rem;
    line-height: 94.3px;
    padding: 30% 0;
}

h2 {
    font-size: 7.5rem;
    line-height: 36px;  
}

h3 {
    font-size: 5.5rem;
    text-align: center;
    line-height: 36px;
    padding: 10px;
}

h4 {
    font-size: 5rem;
    line-height: 30px;
    padding: 10px;
}

li {
    list-style-type: none;
}

a {
    color: #210E21;
    padding: 10px;
    margin: 0 5px;
}

i {
    color: #0178A5;
    font-size: 5.5rem;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

.read-more {
    background-color: #0178A5;
    color: #fff;

    font-family: 'East Sea Dokdo', cursive;
    font-size: 4.5rem;
    text-align: center;

    padding: 15px 25px;
    margin: 20px auto;
    display: inline-block;
}
/* global styles end */


/* header styles start */
header {
    background-image: url('./assets/group-4@2x.png');
    background-size: cover;
    background-position: center;

    height: 90vh;
    padding-top: 50px;
}

.header-nav li {
    float: left;
}

.header-nav a {
    font-weight: 500;
}

 /* TODO ressearch if this is the best option */
.hamburger-menu {
    display: none;
    color: #fff;
    float: right;
}
/* header styles end */

/* main styles start */
/* new-product styles start */
.new-product-container,
.icon-container,
.footer-main {
    background-color: #FFE9E9;
    padding: 80px 0;
}

.new-product-image,
.new-product-text {
    float: left;
}

.new-product-image {
    width: 28%;
    margin-right: 2%
}

.new-product-text {
    width: 68%;
    margin-left: 2%;
}

.new-product-text p {
    padding: 30px 0;
}
/* new-product styles end */


/* exhibitions-container styles start */
.exhibitions-container {
    background-color: #F7DAE8;
    padding: 80px 0;
}

.exhibitions-container h2 {
    text-align: center;
    padding-bottom: 60px;
}

.exhibitions-container li {
    float: left;
    width: calc((100% / 3) - 40px);
    margin: 0 20px;
}
/* exhibitions-container styles end */


/* icon-container styles start */
.icon {
    width: calc(100% / 3);
}

.icon-container li {
    text-align: center;
    float: left;
}

.icon-container a {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 5.5rem;
    line-height: 36px;
    padding: 20px 10px;
    display: block;
}
/* icon-container styles end */


/* blog-container styles start */
.blog-container {
    background-color: #F7DAE8;
}

.blog-container img,
.blog-text {
    width: 50%;
}

.text-right,
.img-right {
    float:right;
}

.text-left,
.img-left {
    float: left;
}

.blog-text{
    padding: 6% 0;
}

.blog-text p {
    padding: 20px 0;
}

.text-left {
    padding-left: 4%;
}

.text-right {
    padding-right: 4%;
}

.blog-button {
    background-color: #A7059B;
}
/* blog-container styles end */
/* main styles end */


/* footer styles start */
.footer-nav, 
.update-container, 
.contact {
    float: left;
}

.footer-nav,
.contact {
    width: 30%;
}

.update-container {
    text-align: center;
    width: 40%;
}

.update-container input[type="email"] {
    border: none;

    padding: 15px 0 15px 20px;
    width: 65%;
    float: left;
}

button {
    background-color:#0178A5;
    color: #FFF;
    border: none;

    font-family: 'East Sea Dokdo', cursive;
    font-size: 4.5rem;
    text-align: center;

    padding: 0 10px;
    width: 35%;
}

.footer-nav {
    margin: 10px auto;
}

.contact {
    text-align: right;
}

.footer-end {
    background-color: #201E21;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
}

.footer-end a {
    color: #FFF;
    padding: 0;
}
/* footer styles end */


/* MEDIA QUERIES START HERE */
/* TODO add in screen sizes */
@media (max-width: 1090px){

    .text-right,
    .img-right,
    .text-left,
    .img-left {
        float: none;
    }

    .blog-container img,
    .blog-text {
        width: 100%;
    }

    .update-container input[type="email"] {
        text-align: center;
        padding-left: 0;
        margin: 20px 0;
        width: 98%;
        float: none;
    }

    button {
        width: 50%;
    }

}

@media (max-width: 800px){

    h1 {
        padding: 50% 0;
    }

    /* NEW-PRODUCT STYLES */
    .new-product-image,
    .new-product-text {
        float: none;
        width: 100%;
        margin: 0 auto;
    }

    .new-product-text {
        padding: 60px 0;
    }

    .np-read-more{
        text-align: center
      
    }
    /* NEW-PRODUCT STYLES END*/


    /* FOOTER STYLES */
    .footer-main {
        padding: 30px 0;
    }

    .footer-nav,
    .update-container,
    .contact {
        float: none;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .footer-nav li {
        float: left;
        width: 25%;
       
    }

    .footer-nav a {
        padding: 0;
        margin: 0 auto;
    }
    /* FOOTER STYLES END */

}

@media (max-width: 610px){
     h1 {
        font-size: 10rem;
        padding: 70% 0;
    }

    h1,
    h2 {
        line-height: 65px;
    }

    h3,
    h4 {
        font-size: 7.5rem;
        line-height: 65px;
    }

    .hamburger-menu {
        display: inline-block;
    }

    .header-nav {
        visibility: hidden;
    }
    /* HEADER STYLES END */
     /* ICON STYLES */
     .icon-container {
        padding: 40px 0;
     }

    .icon-container li {
        float: none;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .icon-container a {
        padding: 20px;
    }
    /* ICON STYLES END*/

     /* EXHIBITION STYLES */
    .exhibitions-container li:nth-child(3){
       display: none;
    }

    .exhibitions-container li {
        width: calc(50% - 10px);
        margin: 0 5px;
    }
    /* EXHIBITION STYLES END*/


    /* BLOG STYLES */
    .blog-text,
    .blog-text a  {
        text-align: center;
    }

    .blog-text {
       padding: 20px 0;
    }
    /* BLOG STYLES END*/
  
}

@media (max-width: 450px){

   
    
}